<section id="footer">
    <img src="/media/border2.png" alt="" id="footer-border-img">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <p><img src="/media/logo.png" class="img-fluid" alt="" id="footer-logo"></p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia commodi laudantium hic, quaerat fuga voluptatibus quae et quisquam aperiam vitae repellendus vel illum tempore nulla quos, tempora eligendi. Rerum.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum eos eveniet maiores laboriosam reprehenderit
            iure, maxime ducimus repellendus porro minima facere consectetur, ea veritatis voluptatum qui minus
            obcaecati rerum magnam?</p>
        </div>
        <div class="col-md-4">
          <p id="footer-company-name">Company Name</p>
          <p class="fotter-contact-p"><i class="fas fa-map-marker-alt"></i> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae quidem non, cumque, autem expedita corporis alias quos officiis exercitationem, ea doloremque perferendis nihil asperiores sapiente nostrum praesentium molestias voluptas ullam?</p>
          <p class="fotter-contact-p"><i class="fas fa-phone"></i>  +91-8238090100</p>
          <p class="fotter-contact-p"><i class="fas fa-phone-office"></i>0141-2363663636</p>
        </div>
        <div class="col-md-4">
          <p id="footer-heading-form">Query Form</p>
          <form action="/querydata" method="post">
            <label for="" class="form-label">Name</label>
            <input type="text" name="name" id="" class="form-control form-control-sm">
            <label for="" class="form-label">email</label>
            <input type="text" name="email" id="" class="form-control form-control-sm">
            <label for="" class="form-label">Query</label>
            <input type="text" name="query" id="" class="form-control form-control-sm">
            <br>
            <button type="submit" class="btn btn-success form-control form-control-sm">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <img src="/media/twitter-icon.png" alt="">
          <img src="/media/linkedin-icon.png">
          <img src="/media/instagram-icon.png" alt="">
          
          <p>Copy Right</p>
        </div>
      </div>
    </div>
  </section>