<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6"><p><span>Welcome <%=username%>   </span> <img src="/admin/avatar-g3e12c41cc_1280.png" alt=""></p></div>
            <div class="col-md-6"><a href="/admin/logout">Logout</a></div>
        </div>
    </div>
</section>