<div class="col-md-3">
   <p><a href="/admin/dashboard"><button  class="btn btn-success form-control">Admin Profile</button></a></p> 
   <p><a href="/admin/banner"><button  class="btn btn-success form-control">Banner</button></a></p> 
   <p><a href="/admin/query"><button class="btn btn-success form-control">Query</button></a></p> 
   <p><a href="/admin/usermanage"><button  class="btn btn-success form-control">User Managemnet</button></a></p> 
   <p><a href="/admin/parkingfetch"><button  class="btn btn-success form-control">Parking Managemnet</button></a></p> 
   <p><a href="/admin/testi"><button  class="btn btn-success form-control">Testinominal Managemenet</button></a></p> 

</div>